

<div class="driver-select">
  <div class="driver-select-content">
    <div class="driver-select-title">
      à propos
    </div>
    <div class="driver-ctnr">
      <div class="driver-help">
        <p>
          cette expérience vous est offerte par
          <a href="http://conard.jason.free.fr/Perso" target="_blank">Jason Conard</a>.
        </p>

        <p>
          Voici les différentes technologies utilisées pour le développement de ce jeu :
          <br/> - HTML 5
          <br/> - CSS 3
          <br/> - Javascript (ECMAScript 5)
          <br/> - AngularJS 1.5.3 (avec angular animate/sanitize/cookies)
          <br/> - Angular UI Router 0.2.13
          <br/> - ThreeJS 0.84.0
          <br/> - Underscore 1.8.3
        </p>

        <p>
          Amusez-vous bien !
        </p>

      </div>
    </div>

    <div class="driver-select-footer">
      <div class="back-btn driver-select-footer-btn pink" data-ui-sref="help">
        <img src="assets/img/menu/back-help.png"> <span>revoir l'aide</span>
      </div>
      <div class="back-btn driver-select-footer-btn" data-ui-sref="kart_driver">
        <img src="assets/img/menu/back-racer.png"> <span>c'est parti</span>
      </div>
    </div>

  </div>


</div>